.left-pane-bg {
    -fx-background-image: url("/Images/left_image.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0;
    -fx-background-color: transparent;
}