# =========================
# LOCAL DEVELOPMENT
# =========================
DB_HOST=localhost
DB_PORT=3307
DB_NAME=notevault_db
DB_USER=notevaultUser
DB_PASSWORD=password123


# =========================
# DOCKER ENVIRONMENT
# =========================
DB_HOST=db
DB_PORT=3306
DB_NAME=notevault_db
DB_USER=notevaultUser
DB_PASSWORD=password123